@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "https://use.fontawesome.com/releases/v5.0.13/css/all.css";

button:focus {
  outline: none !important;
}

.App {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.card {
  transition-duration: 400ms;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.card:hover img {
  transition-duration: 400ms;
  transform: scale(1.02);
}

.card:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #000;
  text-decoration: unset;
}

.card img {
  transition-duration: 400ms;
}

.jumbotron {
  padding-top: 70px !important;
}

.anim {
  animation: home 1200ms;
}

@keyframes home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
